.app {
  background-color: #191919;
  width: 100%;
  height: 100%;
}

.logo-box {
  background-color: #191919;
}

.logo {
  padding-top: 30px;
  padding-left: 30px;
}

.content {
  text-align: center;
  align-items: center;
}


/* START PAGE */
.text-title {
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.start-paragraph {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.start-button {
  margin-top: 48px;

  background-color: #fff;
  width: 260px;
  height: 61px;
  border-radius: 100px;

  color: #191919;
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
}
